---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
const title = "Home Page"
---

<Layout title={title}>
	<body>
	<a href="/">Home</a>
	<a href="/about">About</a>
	<a href="/blog">Blog</a>
	<h1 >{title}</h1>
</body>
</Layout>
