---
import Layout from "../layouts/Layout.astro";
import Greeting from '../components/Greeting';
const title = "Home Page";
---

<Layout title={title}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</Layout>
